{% block datos %}

    <div id="mis_datos">

    <h4 class="title_data" id="titulo">Mis datos</h4>

    <div class="row">

        <div class="col s10 offset-s1 center-align">

            <div class="col s6">

                <div class="card-panel teal">
                    <h5>Nombre y Apellido:</h5>
                    <p>{{nombre}}
                        {{apellido}}</p>
                </div>
                <div class="card-panel teal">
                    <h5>Correo:</h5>
                    <p>{{correo}}</p>
                </div>
                <div class="card-panel teal">
                    <h5>Nivel educativo:</h5>
                    <p>{{nombre_nivel}}</p>
                </div>
                <div class="card-panel teal">
                    <h5>Tipo de hipoacusia</h5>
                    {% if hipoacusico_nacimiento %}
                        <p>Soy hipoacúsico de nacimiento</p>
                    {% else %}
                        <p>Soy postlocutivo</p>
                    {% endif %}
                </div>


            </div>

            <div class="col s6">

                <div class="card-panel teal">
                    <h5>Usuario:</h5>
                    <p>{{usuario}}</p>
                </div>
                <div class="card-panel teal">
                    <h5>Lugar de residencia:</h5>
                    <p>{{nombre_pais}},{{ciudad_residencia}}</p>
                </div>
                <div class="card-panel teal">
                    <h5>Grado de hipoacusia:</h5>
                    <p>{{nombre_grado}}</p>
                </div>
                <div class="card-panel teal">
                    <h5>Tipo de protesis:</h5>
                    <p>{{nombre_protesis}}</p>
                </div>

            </div>

        </div>

    </div>

    </div>

    <div id="editar">
    
    <h4 class="title_data" id="titulo">Editar</h4>

    <form id="formulario_editar" onsubmit="return validar_editar();">

        <div class="row">

            <div
                class="col s12">

                {# Nombre y Apellido #}

                <div class="input-field col s6">
                    <input class="validate" data-hidden="nombre" id="nombre" maxlength="30" name="nombre" type="text" value={{nombre}}>
                    <label class="active" for="nombre">Nombre</label>
                    <span class="helper-text red-text text-lighten-2 error" id="nombre_error"></span>
                </div>

                <div class="input-field col s6">
                    <input class="validate" data-hidden="apellido" id="apellido" maxlength="30" name="apellido" type="text" value={{apellido}}>
                    <label class="active" for="apellido">Apellido</label>
                    <span class="helper-text red-text text-lighten-2 error" id="apellido_error"></span>
                </div>

                {# Correo #}

                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input class="validate" data-hidden="correo" id="correo" maxlength="40" name="correo" type="text" value={{correo}}>
                    <label class="active" for="correo">Correo</label>
                    {#<span class="helper-text">El correo debe respetar el siguiente formato: "texto@dominio" donde dominio puede ser, por ejemplo, gmail.com</span>#}
                    <span class="helper-text red-text text-lighten-2 error" id="correo_error"></span>
                </div>

                {# Usuario #}

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_box</i>
                    <input class="validate" data-hidden="usuario" id="usuario" maxlength="30" name="usuario" type="text" value={{usuario}}>
                    <label class="active" for="usuario">Usuario</label>
                    <span class="helper-text red-text text-lighten-2 error" id="usuario_error"></span>
                </div>

                {# Pregunta #}

                <div class="input-field col s12">
                    <div class="flow-text">¿Es hipoacúsico de nacimiento o postlocutivo?</div>
                </div>

                <div class="container">

                    <div class="col s6">
                        <p>
                            <label>
                                {% if hipoacusico_nacimiento %}
                                    <input checked name="pregunta" type="radio" value="1"/>
                                {% else %}
                                    <input name="pregunta" type="radio" value="1"/>
                                {% endif %}
                                <span>Soy hipoacúsico de nacimiento</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s6">
                        <p>
                            <label>
                                {% if hipoacusico_nacimiento %}
                                    <input name="pregunta" type="radio" value="0"/>
                                {% else %}
                                    <input checked name="pregunta" type="radio" value="0"/>
                                {% endif %}
                                <span>Soy postlocutivo</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s12">
                        <span class="helper-text red-text text-lighten-2 error" id="pregunta_error"></span>
                    </div>

                </div>

                {# Nivel educativo #}

                <div class="input-field col s12">

                    <div class="flow-text">
                        <i class="material-icons">school</i>
                        Nivel educativo alcanzado:
                    </div>

                </div>

                <div class="col s12">
                    <p>
                        <label>
                            {% if id_nivel == 1 %}
                                <input checked name="nivel" type="radio" value="1"/>
                            {% else %}
                                <input name="nivel" type="radio" value="1"/>
                            {% endif %}
                            <span>Secundario</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if id_nivel == 2 %}
                                <input checked name="nivel" type="radio" value="2"/>
                            {% else %}
                                <input name="nivel" type="radio" value="2"/>
                            {% endif %}
                            <span>Terciario</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if id_nivel == 3 %}
                                <input checked name="nivel" type="radio" value="3"/>
                            {% else %}
                                <input name="nivel" type="radio" value="3"/>
                            {% endif %}
                            <span>Universitario</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if id_nivel == 4 %}
                                <input checked name="nivel" type="radio" value="4"/>
                            {% else %}
                                <input name="nivel" type="radio" value="4"/>
                            {% endif %}
                            <span>Postgrado</span>
                        </label>
                    </p>

                    <span class="helper-text red-text text-lighten-2 error" id="nivel_error"></span>

                </div>

                {# Lugar de residencia #}

                <div class="input-field col s12">
                    <div class="flow-text">
                        <i class="material-icons">location_on</i>
                        Lugar de residencia
                    </div>
                </div>

                <div class="input-field col s12">

                    <select class="browser-default" data-hidden="pais" id="pais" name="pais">
                        <option selected value={{id_pais}}>{{nombre_pais}}</option>
                        {% for country in countries %}
                            <option value={{country.id_pais}}>{{country.nombre_pais}}</option>";
                        {% endfor %}

                    </select>
                    <span class="helper-text red-text text-lighten-2 error" id="pais_error"></span>
                </div>

                <div class="input-field col s12">
                    <input class="validate" data-hidden="ciudad" id="ciudad" maxlength="40" name="ciudad" placeholder="Ciudad" type="text" value={{ciudad_residencia}}>
                    <span class="helper-text red-text text-lighten-2 error" id="ciudad_error"></span>
                </div>

                {# Selector de grado #}

                <div class="input-field col s12">
                    <div class="flow-text">Grado de hipoacusia:
                    </div>
                </div>

                <div class="input-field col s12">
                    <select class="browser-default" data-hidden="grado" id="grado" name="grado">
                        <option selected value={{id_grado}}>{{nombre_grado}}</option>
                        <option value="1">Leve</option>
                        <option value="2">Moderada</option>
                        <option value="3">Severa</option>
                    </select>
                    <span class="helper-text red-text text-lighten-2 error" id="grado_error"></span>
                </div>

                {# Tipo de protesis #}

                <div class="input-field col s12">
                    <div class="flow-text">Tipo de prótesis auditiva:
                    </div>
                </div>

                <div class="col s12">
                    <p>
                        <label>
                            {% if id_tipo == 1 %}
                                <input checked name="tipo" type="radio" value="1"/>
                            {% else %}
                                <input name="tipo" type="radio" value="1"/>
                            {% endif %}
                            <span>Audífono</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if id_tipo == 2 %}
                                <input checked name="tipo" type="radio" value="2"/>
                            {% else %}
                                <input name="tipo" type="radio" value="2"/>
                            {% endif %}
                            <span>Audífono de alta gama</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if id_tipo == 3 %}
                                <input checked name="tipo" type="radio" value="3"/>
                            {% else %}
                                <input name="tipo" type="radio" value="3"/>
                            {% endif %}
                            <span>Implante coclear de conducción ósea</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if id_tipo == 4 %}
                                <input checked name="tipo" type="radio" value="4"/>
                            {% else %}
                                <input name="tipo" type="radio" value="4"/>
                            {% endif %}
                            <span>Implante coclear de estimulación electroacústica</span>
                        </label>
                    </p>

                    <span class="helper-text red-text text-lighten-2 error" id="tipo_error"></span>

                </div>

                <div class="input-field col s12 ocultar" id="error"></div>

            </div>

        </div>

    </form>
    
    
    </div>

{% endblock %}
