<div class="center-align">

    <div class="col m6 s12">

        <div id="primero" class="card-panel teal accesible" tabindex="7">
            <h5>Nombre y Apellido:</h5>
            <p>{{nombre}} {{apellido}}</p>
        </div>

        <div class="card-panel teal accesible" tabindex="8">
            <h5>Correo:</h5>
            <p>{{correo}}</p>
        </div>

        <div class="card-panel teal accesible" tabindex="9">
            <h5>Nivel educativo:</h5>
            <p>{{nombre_nivel}}</p>
        </div>

        <div class="card-panel teal accesible" tabindex="10">
            <h5>Tipo de hipoacusia</h5>
            <p>{{hipoacusico_nacimiento}}</p>
        </div>


    </div>

    <div class="col m6 s12">

        <div class="card-panel teal accesible" tabindex="11">
            <h5>Usuario:</h5>
            <p>{{usuario}}</p>
        </div>

        <div class="card-panel teal accesible" tabindex="12">
            <h5>Lugar de residencia:</h5>
            <p>{{nombre_pais}}, {{ciudad_residencia}}</p>
        </div>

        <div class="card-panel teal accesible" tabindex="13">
            <h5>Grado de hipoacusia:</h5>
            <p>{{nombre_grado}}</p>
        </div>

        <div class="card-panel teal accesible" tabindex="14">
            <h5>Tipo de protesis:</h5>
            <p>{{nombre_protesis}}</p>
        </div>

    </div>

</div>
